    <div><label>單字</label><input id='dName' type="text" name="name"/></div>
    <div><label>詞性</label><input id='dTy' type="text" name="ty"/></div>
    <div><label>音標</label><input id='dPron' type="text" name="pron"/></div>
    <div><label>中文</label><input id='dCh' type="text" name="ch"/></div>
    <div><label>來源一</label><input id='dSc1' type="text" name="sc1"/></div>
    <div><label>範例一</label><textarea id='dEx1' name="ex1"/></div>
    <div><input id='btnAddSubmit' type="button" value="提交"/><input id='btnClear' type="button" value="清除"/></div>
