<div><label>Id</label><input type="text" id="dId" value="{{old[0]}}" readonly/></div>
<div><label>單字</label><input type="text" id="dName" value="{{old[1]}}" readonly/></div>
<div><label>詞性</label><input type="text" id="dTy" value="{{old[2]}}" readonly/></div>
<div><label>音標</label><input type="text" id="dPron" value="{{old[3]}}" readonly/></div>
<div><label>中文</label><input type="text" id="dCh" value="{{old[4]}}" readonly/></div>
<div><label>來源一</label><input type="text" id="dSc1" value="{{old[5]}}" readonly/></div>
<div><label>範例一</label><textarea id="dEx1" readonly>{{old[6]}}</textarea></div>
<div><label>來源二</label><input type="text" id="dSc2" value="{{old[7]}}" readonly/></div>
<div><label>範例二</label><textarea id="dEx2" readonly>{{old[8]}}</textarea></div>
<div><label>來源三</label><input type="text" id="dSc3" value="{{old[9]}}" readonly/></div>
<div><label>範例三</label><textarea id="dEx3" readonly>{{old[10]}}</textarea></div>
<div><input type="button" id="delSubmit" value="刪除"/></div>
<div><input type="button" id="delCancel" value="放棄返回"/></div>
