<div><label>Id</label><input type="text" id="dId" value="{{old[0]}}" readonly></div>
<div><label>單字</label><input type="text" id="dName" value="{{old[1]}}" readonly></div>
<div><label>詞性</label><input type="text" id="dTy" value="{{old[2]}}"></div>
<div><label>音標</label><input type="text" id="dPron" value="{{old[3]}}"></div>
<div><label>中文</label><input type="text" id="dCh" value="{{old[4]}}"></div>
<div><label>來源一</label><input type="text" id="dSc1" value="{{old[5]}}"></div>
<div><label>範例一</label><textarea id="dEx1">{{old[6]}}</textarea></div>
<div><label>來源二</label><input type="text" id="dSc2" value="{{old[7]}}"></div>
<div><label>範例二</label><textarea id="dEx2">{{old[8]}}</textarea></div>
<div><label>來源三</label><input type="text" id="dSc3" value="{{old[9]}}"></div>
<div><label>範例三</label><textarea id="dEx3">{{old[10]}}</textarea></div>
<div><input id='editSubmit' type="button" value="修改"></div>
<div><input id='editCancel' type="button" value="放棄返回"></div>
